{% extends 'base.html.twig' %}

{% block title %}Page création{% endblock %}

{% block body %}
<section id="navigation">
    <div class="container-fluid fixed-top">
        <ul class="nav flex-column justify-content-center">
            <li><a type="button" class="btn btn-sm" href="#peintureAcrylique">Imaginarium</a></li>
            <li><a type="button" class="btn btn-sm" href="#paysageFascinant">Paysage fascinant</a></li>
            <li><a type="button" class="btn btn-sm" href="#animalOnirique">Animal onirique</a></li>
            <li><a type="button" class="btn btn-sm" href="#animalDivin">Animal divin</a></li>
            <li><a type="button" class="btn btn-sm" href="#portrait">Portraits et compositions</a></li>
            <li><a type="button" class="btn btn-sm" href="#broderie">La broderie des merveilles</a></li>
        </ul>
    </div>
</section>
<section id="peintureAcrylique">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('image/cerisierTitre1.jpg') }}" class="imgCerisier" alt="imageCerisier">
                    <h2 class="elephant text-center">La peinture acrylique «L’imaginarium (compositions)»</h2>
                    <p class="text-center segeoUI mt-4">
                        Créations de mondes imaginaires sublimés par l’intensité artistique de vos envies.
                        <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                        ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                    </p>
                </div>
            </div>
            <div class="flex text-center">
                <a href="{{ asset('image/oeuvre1ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre1Rond.jpg') }}" class="essai" alt="CreationAcrylique0" >
                </a>
                <a href="{{ asset('image/oeuvre2ORGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre2Rond.jpg') }}" alt="CreationAcrylique1">
                </a>
                <a href="{{ asset('image/oeuvre3ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre3Rond.jpg') }}" alt="CreationAcrylique2">
                </a>
                <a href="{{ asset('image/oeuvre4ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre4Rond.jpg') }}" alt="CreationAcrylique3">
                </a>
                <a href="{{ asset('image/oeuvre5ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre5Rond.jpg') }}" alt="CreationAcrylique3">
                </a>
                <a href="{{ asset('image/oeuvre6ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre6Rond.jpg') }}" alt="CreationAcrylique3">
                </a>
                <a href="{{ asset('image/oeuvre7ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre7Rond.jpg') }}" alt="CreationAcrylique4">
                </a>
                <a href="{{ asset('image/oeuvre8ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre8Rond.jpg') }}" alt="CreationAcrylique5">
                </a>
                <a href="{{ asset('image/oeuvre9ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre9Rond.jpg') }}" alt="CreationAcrylique6">
                </a>
                <a href="{{ asset('image/oeuvre10ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre10Rond.jpg') }}" alt="CreationAcrylique7">
                </a>
                <a href="{{ asset('image/oeuvre11ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre11Rond.jpg') }}" alt="CreationAcrylique8">
                </a>
                <a href="{{ asset('image/oeuvre12ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre12Rond.jpg') }}" alt="CreationAcrylique9">
                </a>
                <a href="{{ asset('image/oeuvre13ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre13Rond.jpg') }}" alt="CreationAcrylique10">
                </a>
                <a href="{{ asset('image/oeuvre14ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre14Rond.jpg') }}" alt="CreationAcrylique11">
                </a>
                <a href="{{ asset('image/oeuvre15ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre15Rond.jpg') }}" alt="CreationAcrylique12">
                </a>
                <a href="{{ asset('image/oeuvre16ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre16Rond.jpg') }}" alt="CreationAcrylique13">
                </a>
                <a href="{{ asset('image/oeuvre17ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre17Rond.jpg') }}" alt="CreationAcrylique14">
                </a>
                <a href="{{ asset('image/oeuvre18ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre18Rond.jpg') }}" alt="CreationAcrylique15">
                </a>
                <a href="{{ asset('image/oeuvre19ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre19Rond.jpg') }}" alt="CreationAcrylique16">
                </a>
                <a href="{{ asset('image/oeuvre20ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre20Rond.jpg') }}" alt="CreationAcrylique17">
                </a>
                <a href="{{ asset('image/oeuvre21ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre21Rond.jpg') }}" alt="CreationAcrylique18">
                </a>
                <a href="{{ asset('image/oeuvre22ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre22Rond.jpg') }}" alt="CreationAcrylique19">
                </a>
                <a href="{{ asset('image/oeuvre23ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre23Rond.jpg') }}" alt="CreationAcrylique20">
                </a>
                <a href="{{ asset('image/oeuvre24ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre24Rond.jpg') }}" alt="CreationAcrylique21">
                </a>
            </div>
        </div>
</section>
<section id="paysageFascinant">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('image/feuilleTitre.png') }}" class="imgFeuille" alt="imageFeuille">
                <h2 class="elephant text-center"> La peinture acrylique «Paysage fascinant»</h2>
                <p class="text-center segeoUI mt-5">
                    Créations de paysages envoûtants et colorés.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                        ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/paysage1ORIGINLALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage1Rond.jpg') }}" alt="imagePaysage0" ></a>
            <a href="{{ asset('image/paysage2ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage2Rond.jpg') }}" alt="imagePaysage1"></a>
            <a href="{{ asset('image/paysage3ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage3Rond.jpg') }}" alt="imagePaysage2"></a>
            <a href="{{ asset('image/paysage4ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage4Rond.jpg') }}" alt="imagePaysage3"></a>
            <a href="{{ asset('image/paysage5ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage5Rond.jpg') }}" alt="imagePaysage4"></a>
            <a href="{{ asset('image/paysage6ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage6Rond.jpg') }}" alt="imagePaysage5"></a>
            <a href="{{ asset('image/paysage7ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage7Rond.jpg') }}" alt="imagePaysage6"></a>
            <a href="{{ asset('image/paysage8ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage8Rond.jpg') }}" alt="imagePaysage7"></a>
            <a href="{{ asset('image/paysage9ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage9Rond.jpg') }}" alt="imagePaysage8"></a>
            <a href="{{ asset('image/paysage10ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage10Rond.jpg') }}" alt="imagePaysage9"></a>
            <a href="{{ asset('image/paysage11ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage11Rond.jpg') }}" alt="imagePaysage10"></a>
            <a href="{{ asset('image/paysage12ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage12Rond.jpg') }}" alt="imagePaysage11"></a>
            <a href="{{ asset('image/paysage13ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage13Rond.jpg') }}" alt="imagePaysage12"></a>
            <a href="{{ asset('image/paysage14ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage14Rond.jpg') }}" alt="imagePaysage13"></a>
            <a href="{{ asset('image/paysage15ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage15Rond.jpg') }}" alt="imagePaysage14"></a>
            <a href="{{ asset('image/paysage16ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/paysage16Rond.jpg') }}" alt="imagePaysage15"></a>
        </div>
    </div>
</section>
<section id="animalOnirique">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('image/hirondelleTitre.jpg') }}" class="imgHirondelle2" alt="imageHirondelle">
                <h2 class="elephant text-center">L’aquarelle «Animal onirique»</h2>
                <p class="text-center segeoUI mt-5">
                    Créations de portraits d’animaux dans un monde onirique, végétal et graphique.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                        ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/animal1ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal1Rond.jpg') }}" alt="animalOnirique0" ></a>
            <a href="{{ asset('image/animal2ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal2Rond.jpg') }}" alt="animalOnirique1"></a>
            <a href="{{ asset('image/animal3ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal3Rond.jpg') }}" alt="animalOnirique2"></a>
            <a href="{{ asset('image/animal4ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal4Rond.jpg') }}" alt="animalOnirique3"></a>
            </div>
        </div>
    </div>
</section>
<section id="animalDivin">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('image/oiseauTitre.jpg') }}" class="imgOiseau" alt="imageOiseau">
                <h2 class="elephant text-center">L’encre de chine et l’encre aquarelle «Animal divin»</h2>
                <p class="text-center segeoUI mt-5">
                    Créations de portraits d’animaux dans une harmonie graphique et colorée.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                    ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/animal5ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal5Rond.jpg') }}" alt="animalDivin0" ></a>
            <a href="{{ asset('image/animal6ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal6Rond.jpg') }}" alt="animalDivin1"></a>
            <a href="{{ asset('image/animal7ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal7Rond.jpg') }}" alt="animalDivin2"></a>
            <a href="{{ asset('image/animal8ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal8Rond.jpg') }}" alt="animalDivin3"></a>
            <a href="{{ asset('image/animal9ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal9Rond.jpg') }}" alt="animalDivin4" ></a>
            <a href="{{ asset('image/animal10ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal10Rond.jpg') }}" alt="animalDivin5"></a>
            <a href="{{ asset('image/animal11ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal11Rond.jpg') }}" alt="animalDivin6"></a>
            <a href="{{ asset('image/animal12ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal12Rond.jpg') }}" alt="animalDivin7"></a>
            <a href="{{ asset('image/animal13ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal13Rond.jpg') }}" alt="animalDivin8" ></a>
            <a href="{{ asset('image/animal14ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal14Rond.jpg') }}" alt="animalDivin9"></a>
            <a href="{{ asset('image/animal15ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal15Rond.jpg') }}" alt="animalDivin10"></a>
            <a href="{{ asset('image/animal16ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/animal16Rond.jpg') }}" alt="animalDivin11"></a>
        </div>
    </div>
</section>
<section id="portrait">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ asset('image/mainMotifTitre.jpg') }}" class="imgMainMotif2" alt="imageMainMotif">
                <h2 class="elephant text-center"> Le crayon de papier, stylo encre, encre de chine et aquarelle <br> «Portraits et compositions»</h2>
                <p class="text-center segeoUI mt-5">
                    Créations de portraits, de compositions imaginaires, de tatouage et de dessins fabuleux.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                    ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/portrait1ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait1Rond.jpg') }}" alt="portrait1" ></a>
            <a href="{{ asset('image/portrait2ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait2Rond.jpg') }}" alt="portrait2"></a>
            <a href="{{ asset('image/portrait3ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait3Rond.jpg') }}" alt="portrait3"></a>
            <a href="{{ asset('image/portrait4ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait4Rond.jpg') }}" alt="portrait4"></a>
            <a href="{{ asset('image/portrait5ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait5Rond.jpg') }}" alt="portrait5" ></a>
            <a href="{{ asset('image/portrait6ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait6Rond.jpg') }}" alt="portrait6"></a>
            <a href="{{ asset('image/portrait7ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait7Rond.jpg') }}" alt="portrait7"></a>
            <a href="{{ asset('image/portrait8ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait8Rond.jpg') }}" alt="portrait8"></a>
            <a href="{{ asset('image/portrait9ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait9Rond.jpg') }}" alt="portrait9" ></a>
            <a href="{{ asset('image/portrait10ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait10Rond.jpg') }}" alt="portrait10"></a>
            <a href="{{ asset('image/portrait11ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait11Rond.jpg') }}" alt="portrait11"></a>
            <a href="{{ asset('image/portrait12ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/portrait12Rond.jpg') }}" alt="portrait12"></a>
        </div>
    </div>
</section>
<section id="broderie">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('image/fleurTitre.jpg') }}" class="imgFleur2" alt="imageFleur">
                <h2 class="elephant text-center">La broderie des merveilles</h2>
                <p class="text-center segeoUI">
                    Créations figuratives ou abstraites, en accessoire de mode (broche, casquette)
                    ou décoration murale (dessin simple et/ou prénom ou mots brodés).<br> Broder un petit bout
                    de paysage ou avoir un être cher près de votre coeur sublimera votre quotidien.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                    ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/broderie1ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/broderie1Rond.jpg') }}" alt="broderie1" ></a>
            <a href="{{ asset('image/broderie2ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/broderie2Rond.jpg') }}" alt="broderie2"></a>
            <a href="{{ asset('image/broderie3ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/broderie3Rond.jpg') }}" alt="broderie3"></a>
            <a href="{{ asset('image/broderie4ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/broderie4Rond.jpg') }}" alt="broderie4"></a>
            <a href="{{ asset('image/broderie5ORIGINALE.jpg') }}" target="_blank"><img src="{{ asset('image/broderie5Rond.jpg') }}" alt="broderie5" ></a>
            <a href="{{ asset('image/broderie6imageoriginale.jpg') }}" target="_blank"><img src="{{ asset('image/broderie6.jpg') }}" alt="broderie6" ></a>
            <a href="{{ asset('image/broderie7imageoriginale.jpg') }}" target="_blank"><img src="{{ asset('image/broderie7.jpg') }}" alt="broderie7" ></a>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}
