{% extends 'base.html.twig' %}

{% block title %}Page création{% endblock %}

{% block body %}
<section id="navigation">
    <div class="container-fluid fixed-top">
        <ul class="nav flex-column justify-content-center">
            <li><a type="button" class="btn btn-sm" href="#peintureAcrylique">Imaginarium</a></li>
            <li><a type="button" class="btn btn-sm" href="#paysageFascinant">Paysage fascinant</a></li>
            <li><a type="button" class="btn btn-sm" href="#animalOnirique">Animal onirique</a></li>
            <li><a type="button" class="btn btn-sm" href="#animalDivin">Animal divin</a></li>
            <li><a type="button" class="btn btn-sm" href="#portrait">Portraits et compositions</a></li>
            <li><a type="button" class="btn btn-sm" href="#broderie">La broderie des merveilles</a></li>
        </ul>
    </div>
</section>
<section id="peintureAcrylique">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="{{ asset('image/cerisiertitre1.jpg') }}" class="imgCerisier" alt="imageCerisier">
                    <h2 class="elephant text-center">La peinture acrylique «L’imaginarium (compositions)»</h2>
                    <p class="text-center segeoUI mt-4">
                        Créations de mondes imaginaires sublimés par l’intensité artistique de vos envies.
                        <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                        ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                    </p>
                </div>
            </div>
            <div class="flex text-center">
                <a href="{{ asset('image/oeuvre1ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre1Rond.jpg') }}" class="essai" alt="Oeuvre pour Cassandre. Sur toile : 41 x 33 cm." >
                    <div class="overlay">
                        <div class="text">Oeuvre pour Cassandre. Sur toile : 41 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre2ORGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre2Rond.jpg') }}" alt="Oeuvre pour Léonie. Sur toile : 41 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Léonie. Sur toile : 41 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre3ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre3Rond.jpg') }}" alt="Oeuvre pour Nina. Sur toile : 41 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Nina. Sur toile : 41 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre4ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre4Rond.jpg') }}" alt="Oeuvre pour Théo. Sur toile : 40 x 40 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Théo. Sur toile : 40 x 40 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre5ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre5Rond.jpg') }}" alt="Oeuvre pour Lilou. Sur toile : 46 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Lilou. Sur toile : 46 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre6ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre6Rond.jpg') }}" alt="Oeuvre pour Paul . Sur toile : 41 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Paul . Sur toile : 41 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre7ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre7Rond.jpg') }}" alt="Oeuvre pour Jules. Sur toile : 41 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Jules. Sur toile : 41 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre8ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre8Rond.jpg') }}" alt="Oeuvre pour Jade sur toile : 61 x 46 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Jade sur toile : 61 x 46 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre9ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre9Rond.jpg') }}" alt="Oeuvre pour Nael . Sur toile : 61 x 46 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Nael . Sur toile : 61 x 46 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre10ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre10Rond.jpg') }}" alt="Oeuvre pour Manon. Sur toile : 30 x 30 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Manon. Sur toile : 30 x 30 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre11ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre11Rond.jpg') }}" alt="Oeuvre pour Manon. Sur toile : 30 x 30 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Manon. Sur toile : 30 x 30 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre12ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre12Rond.jpg') }}" alt="Oeuvre pour Manon. Sur toile : 30 x 30 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Manon. Sur toile : 30 x 30 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre13ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre13Rond.jpg') }}" alt="Oeuvre pour Cassandre. Sur toile : 46 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Cassandre. Sur toile : 46 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre14ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre14Rond.jpg') }}" alt="Oeuvre pour Léa. Sur toile : 46 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Léa. Sur toile : 46 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre15ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre15Rond.jpg') }}" alt="Oeuvre pour des grands-parents . Sur toile : 65 x 50 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour des grands-parents . Sur toile : 65 x 50 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre16ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre16Rond.jpg') }}" alt="Oeuvre pour Ian. Sur toile : 41 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Ian. Sur toile : 41 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre17ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre17Rond.jpg') }}" alt="Oeuvre pour Élena . Sur toile : 46 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Élena . Sur toile : 46 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre18ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre18Rond.jpg') }}" alt="Oeuvre pour Lina. Sur toile : 55 x 38 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Lina. Sur toile : 55 x 38 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre19ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre19Rond.jpg') }}" alt="Oeuvre pour Milan. Sur toile : 46 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Milan. Sur toile : 46 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre20ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre20Rond.jpg') }}" alt="Oeuvre pour Élena . Sur toile : 73 x 50 cm. (format demandé).">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Élena . Sur toile : 73 x 50 cm. (format demandé).</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre21ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre21Rond.jpg') }}" alt="Oeuvre pour Éléna. Sur toile : 46 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Éléna. Sur toile : 46 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre22ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre22Rond.jpg') }}" alt="Oeuvre pour Thibaut. Sur toile : 46 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Thibaut. Sur toile : 46 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre23ORIGINALE.JPG') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre23Rond.jpg') }}" alt="Oeuvre pour Leslie. Sur toile : 46 x 33 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Leslie. Sur toile : 46 x 33 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre24ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre24Rond.jpg') }}" alt="Oeuvre pour Marc. Sur toile : 65 x 54 cm.">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Marc. Sur toile : 65 x 54 cm.</div>
                    </div>
                </a>
                <a href="{{ asset('image/oeuvre25-image-ORIGINALE.jpg') }}" target="_blank">
                    <img src="{{ asset('image/oeuvre25rond.jpg') }}" alt="Oeuvre pour Tom sur toile 65cm par 54 cm">
                    <div class="overlay">
                        <div class="text">Oeuvre pour Tom sur toile 65cm x 54 cm</div>
                    </div>
                </a>
            </div>
        </div>
</section>
<section id="paysageFascinant">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('image/feuilleTitre.png') }}" class="imgFeuille" alt="imageFeuille">
                <h2 class="elephant text-center"> La peinture acrylique «Paysage fascinant»</h2>
                <p class="text-center segeoUI mt-5">
                    Créations de paysages envoûtants et colorés.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                        ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/paysage1ORIGINLALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage1Rond.jpg') }}" alt="Maisons de charme. Papier semi-épais. Format : 25,5 x 25,5 cm." >
                <div class="overlay">
                        <div class="text">Maisons de charme. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage2ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage2Rond.jpg') }}" alt="Terre vivante. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Terre vivante. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage3ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage3Rond.jpg') }}" alt="Cascade du jour. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Cascade du jour. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage4ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage4Rond.jpg') }}" alt="Tendance automnale. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Tendance automnale. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage5ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage5Rond.jpg') }}" alt="Ciel romantique. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Ciel romantique. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage6ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage6Rond.jpg') }}" alt="Espace glamour. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Espace glamour. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage7ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage7Rond.jpg') }}" alt="Horizon abstraite. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Horizon abstraite. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage8ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage8Rond.jpg') }}" alt="Sous-bois cosmique. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Sous-bois cosmique. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage9ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage9Rond.jpg') }}" alt="Maison bucolique. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Maison bucolique. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage10ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage10Rond.jpg') }}" alt="L’arbre blanc. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">L’arbre blanc. Papier semi-épais. Format : 25,5 x 25,5 cm</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage11ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage11Rond.jpg') }}" alt="Mars. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Mars. Papier semi-épais. Format : 25,5 x 25,5 cm.</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage12ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage12Rond.jpg') }}" alt="Douceur d’automne. Papier semi-épais. Format : 25,5 x 25,5 cm.">
                <div class="overlay">
                        <div class="text">Douceur d’automne. Papier semi-épais. Format : 25,5 x 25,5 cm</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage13ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage13Rond.jpg') }}" alt="Un cerisier à la maison. Sur toile : 100 x 65 cm. 2018">
                <div class="overlay">
                        <div class="text">Un cerisier à la maison. Sur toile : 100 x 65 cm</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage14ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage14Rond.jpg') }}" alt="Mon paradis d’inspiration. Sur toile : 100 x 65 cm.">
                <div class="overlay">
                        <div class="text">Mon paradis d’inspiration. Sur toile : 100 x 65 cm</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage15ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage15Rond.jpg') }}" alt="Lac Léman Sur toile : 46 x 55 cm.">
                <div class="overlay">
                        <div class="text">Lac Léman Sur toile : 46 x 55 cm</div>
                    </div>
            </a>
            <a href="{{ asset('image/paysage16ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/paysage16Rond.jpg') }}" alt="Arbres énigmatiques. Papier épais : 25,5 x 32,5 cm.">
                <div class="overlay">
                    <div class="text">Arbres énigmatiques. Papier épais : 25,5 x 32,5 cm</div>
                </div>
            </a>
        </div>
    </div>
</section>
<section id="animalOnirique">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('image/hirondelleTitre.jpg') }}" class="imgHirondelle2" alt="imageHirondelle">
                <h2 class="elephant text-center">L’aquarelle «Animal onirique»</h2>
                <p class="text-center segeoUI mt-5">
                    Créations de portraits d’animaux dans un monde onirique, végétal et graphique.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                        ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/animal1ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal1Rond.jpg') }}" alt="Mon chat divin. Papier épais aquarelle. Format : 20 x 40 cm." >
                <div class="overlay">
                    <div class="text">Mon chat divin. Papier épais aquarelle. Format : 20 x 40 cm</div>
                </div>
            </a>
            <a href="{{ asset('image/animal2ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal2Rond.jpg') }}" alt="L’ours sur la colline. Papier épais aquarelle. Format : 20 x 40 cm.">
                <div class="overlay">
                    <div class="text">L’ours sur la colline. Papier épais aquarelle. Format : 20 x 40 cm</div>
                </div>
            </a>
            <a href="{{ asset('image/animal3ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal3Rond.jpg') }}" alt="Le guépard dans la tête. Papier épais aquarelle. Format : 20 x 40 cm.">
                <div class="overlay">
                    <div class="text">Le guépard dans la tête. Papier épais aquarelle. Format : 20 x 40 cm</div>
                </div>
            </a>
            <a href="{{ asset('image/animal4ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal4Rond.jpg') }}" alt="L'hirondelle dans le cerisier. Papier épais aquarelle. Format : 20 x 40 cm.">
                <div class="overlay">
                    <div class="text">L'hirondelle dans le cerisier. Papier épais aquarelle. Format : 20 x 40 cm</div>
                </div>
            </a>
            <a href="{{ asset('image/animal17ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal17rond.jpg') }}" alt="L’oiseau cocon. Papier épais aquarelle. Format : 20 x 40 cm.">
                <div class="overlay">
                    <div class="text">L’oiseau cocon.Papier épais aquarelle. Format : 20 x 40 cm</div>
                </div>
            </a>
        </div>
    </div>
</section>
<section id="animalDivin">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('image/oiseauTitre.jpg') }}" class="imgOiseau" alt="imageOiseau">
                <h2 class="elephant text-center">L’encre de chine et l’encre aquarelle «Animal divin»</h2>
                <p class="text-center segeoUI mt-5">
                    Créations de portraits d’animaux dans une harmonie graphique et colorée.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                    ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/animal5ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal5Rond.jpg') }}" alt="Le cerf. Papier médium. Format : A4 (21 x 29,7 cm)." >
                <div class="overlay">
                    <div class="text">Le cerf. Papier médium. Format : A4 (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal6ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal6Rond.jpg') }}" alt="Le couple de cigognes. Papier médium. Format A3 : (29,7 x 42 cm).">
                <div class="overlay">
                    <div class="text">Le couple de cigognes. Papier médium. Format A3 : (29,7 x 42 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal7ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal7Rond.jpg') }}" alt="La girafe. Papier médium. Format A4 : (21 x 29,7 cm).">
                <div class="overlay">
                    <div class="text">La girafe. Papier médium. Format A4 : (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal8ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal8Rond.jpg') }}" alt="La tortue marine. Papier médium. Format A4 : (21 x 29,7 cm).">
                <div class="overlay">
                    <div class="text">La tortue marine. Papier médium. Format A4 : (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal9ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal9Rond.jpg') }}" alt="La mouette. Papier médium. Format A4 : (21 x 29,7 cm)." >
                <div class="overlay">
                    <div class="text">La mouette. Papier médium. Format A4 : (21 x 29,7 cm).</div>
                </div>
            </a>
            <a href="{{ asset('image/animal10ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal10Rond.jpg') }}" alt="Le martin-pêcheur. Papier médium. Format A4 : (21 x 29,7 cm).">
                <div class="overlay">
                    <div class="text">Le martin-pêcheur. Papier médium. Format A4 : (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal11ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal11Rond.jpg') }}" alt="La mésange. Papier médium. Format A4 : (21 x 29,7 cm).">
                <div class="overlay">
                    <div class="text">La mésange. Papier médium. Format A4 : (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal12ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal12Rond.jpg') }}" alt="L’ ours polaire. Papier médium. Format A4 : (21 x 29,7 cm).">
                <div class="overlay">
                    <div class="text">L’ ours polaire. Papier médium. Format A4 : (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal13ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal13Rond.jpg') }}" alt="Le flament rose. Papier médium. Format A4 : (21 x 29,7 cm)." >
                <div class="overlay">
                    <div class="text">Le flament rose. Papier médium. Format A4 : (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal14ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal14Rond.jpg') }}" alt="Le léopard. Papier médium. Format A4 : (21 x 29,7 cm).">
                <div class="overlay">
                    <div class="text">Le léopard. Papier médium. Format A4 : (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal15ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal15Rond.jpg') }}" alt="Le chacal. Papier médium. Format A3 : (29,7 x 42 cm).">
                <div class="overlay">
                    <div class="text">Le chacal. Papier médium. Format A3 : (29,7 x 42 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/animal16ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/animal16Rond.jpg') }}" alt="L’aigle royal. Papier médium. Format A3 : (29,7 x 42 cm).">
                <div class="overlay">
                    <div class="text">L’aigle royal. Papier médium. Format A3 : (29,7 x 42 cm)</div>
                </div>
            </a>
        </div>
    </div>
</section>
<section id="portrait">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ asset('image/mainMotifTitre.jpg') }}" class="imgMainMotif2" alt="imageMainMotif">
                <h2 class="elephant text-center"> Le crayon de papier, stylo encre, encre de chine et aquarelle <br> «Portraits et compositions»</h2>
                <p class="text-center segeoUI mt-5">
                    Créations de portraits, de compositions imaginaires, de tatouage et de dessins fabuleux.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                    ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/portrait1ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait1Rond.jpg') }}" alt="Agnès cheveux au vent. (d’après une photo d’antan de ma grand-mère maternelle adorée) Papier fin. Format A6 (10,5 x 14,8 cm)." >
                <div class="overlay">
                    <div class="text">Agnès (ma grand-mère) cheveux au vent. Papier fin. Format A6 (10,5 x 14,8 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait2ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait2Rond.jpg') }}" alt="Agnès sublime. (d’après une photo d’antan de ma grand-mère maternelle adorée) Papier fin. Format A6 (10,5 x 14,8 cm).">
                <div class="overlay">
                    <div class="text">Agnès (ma grand-mère) sublime.  Papier fin. Format A6 (10,5 x 14,8 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait3ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait3Rond.jpg') }}" alt="Oliva séduisante. (d’après une photo d’antan de ma grand-mère paternelle adorée) Papier fin. Format A6 (10,5 x 14,8 cm).">
                <div class="overlay">
                    <div class="text">Oliva (ma grand-mère) séduisante.  Papier fin. Format A6 (10,5 x 14,8 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait4ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait4Rond.jpg') }}" alt="Aldo séduisant. (d’après une photo d’antan de ma grand-père paternel adorée) Papier fin. Format A6 (10,5 x 14,8 cm).">
                <div class="overlay">
                    <div class="text">Aldo (mon grand-père) séduisant.  Papier fin. Format A6 (10,5 x 14,8 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait5ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait5Rond.jpg') }}" alt="Pour Émilie. Papier médium. Format A4 (21 x 29,7 cm)." >
                <div class="overlay">
                    <div class="text">Pour Émilie. Papier médium. Format A4 (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait6ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait6Rond.jpg') }}" alt="Pour Romain. Papier médium. Format A4 (21 x 29,7 cm).">
                <div class="overlay">
                    <div class="text">Pour Romain. Papier médium. Format A4 (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait7ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait7Rond.jpg') }}" alt="Tatouage pour Flory Papier médium. Dimension : 25 cm de long.">
                <div class="overlay">
                    <div class="text">Tatouage pour Flory Papier médium. Dimension : 25 cm de long</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait8ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait8Rond.jpg') }}" alt="Tatouage pour Flory Papier médium. Format A6 (10,5 x 14,8 cm).">
                <div class="overlay">
                    <div class="text">Tatouage pour Flory Papier médium. Format A6 (10,5 x 14,8 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait9ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait9Rond.jpg') }}" alt="Phoenix. Papier médium. Format A5 (14,8 x 21 cm)." >
                <div class="overlay">
                    <div class="text">Phoenix. Papier médium. Format A5 (14,8 x 21 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait10ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait10Rond.jpg') }}" alt="Les retrouvailles. Papier médium.">
                <div class="overlay">
                    <div class="text">Les retrouvailles. Papier médium</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait11ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait11Rond.jpg') }}" alt="Extrait du manga de Pierre. Papier fin. Format A5 (14,8 x 21 cm).">
                <div class="overlay">
                    <div class="text">Extrait du manga de Pierre. Papier fin. Format A5 (14,8 x 21 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/portrait12ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/portrait12Rond.jpg') }}" alt="Extrait du manga de Pierre. Papier fin. Format A4 (21 x 29,7 cm).">
                <div class="overlay">
                    <div class="text">Extrait du manga de Pierre. Papier fin. Format A4 (21 x 29,7 cm)</div>
                </div>
            </a>
            <a href="{{ asset('image/unedemandeorigianleORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/unedemandeparticulièrerond.jpg') }}" alt="Une demande particulière. Papier épais. Format A3 (29,7 x 42 cm).">
                <div class="overlay">
                    <div class="text">Une demande particulière. Papier épais. Format A3 (29,7 x 42 cm)</div>
                </div>
            </a>
        </div>
    </div>
</section>
<section id="broderie">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('image/fleurTitre.jpg') }}" class="imgFleur2" alt="imageFleur">
                <h2 class="elephant text-center">La broderie des merveilles</h2>
                <p class="text-center segeoUI">
                    Créations figuratives ou abstraites, en accessoire de mode (broche, casquette)
                    ou décoration murale (dessin simple et/ou prénom ou mots brodés).<br> Broder un petit bout
                    de paysage ou avoir un être cher près de votre coeur sublimera votre quotidien.
                    <br><span class="span">Les oeuvres présentées ici sont des projets déjà réalisés et uniques,
                    ils ne sont pas à la vente mais vous montrent la qualité de mon travail d’artiste.</span>
                </p>
            </div>
        </div>
        <div class="flex">
            <a href="{{ asset('image/broderie1ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/broderie1Rond.jpg') }}" alt="Casquette brodée, initiale." >
                <div class="overlay">
                    <div class="text">Casquette brodée, initiale</div>
                </div>
            </a>
            <a href="{{ asset('image/broderie2ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/broderie2Rond.jpg') }}" alt="Casquette brodée, message.">
                <div class="overlay">
                    <div class="text">Casquette brodée, message</div>
                </div>
            </a>
            <a href="{{ asset('image/broderie3ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/broderie3Rond.jpg') }}" alt="Broche Mo le chat. Doublée imitation cuir.">
                <div class="overlay">
                    <div class="text">Broche Mo le chat. Doublée imitation cuir</div>
                </div>
            </a>
            <a href="{{ asset('image/broderie4ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/broderie4Rond.jpg') }}" alt="Broche Agnès forever. Doublée imitation cuir.">
                <div class="overlay">
                    <div class="text">roche Agnès forever. Doublée imitation cuir</div>
                </div>
            </a>
            <a href="{{ asset('image/broderie5ORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/broderie5Rond.jpg') }}" alt="Broderie de l’imaginaire." >
                <div class="overlay">
                    <div class="text">Broderie de l’imaginaire</div>
                </div>
            </a>
            <a href="{{ asset('image/broderie6imageoriginale.jpg') }}" target="_blank">
                <img src="{{ asset('image/broderie6.jpg') }}" alt="Broche Oliva forever. Doublée imitation cuir." >
                <div class="overlay">
                    <div class="text">Broche Oliva forever. Doublée imitation cuir</div>
                </div>
            </a>
            <a href="{{ asset('image/broderie7imageoriginale.jpg') }}" target="_blank">
                <img src="{{ asset('image/broderie7.jpg') }}" alt="Broche Dexter my cat. Doublée imitation cuir." >
                <div class="overlay">
                    <div class="text">Broche Dexter my cat. Doublée imitation cuir</div>
                </div>
            </a>
            <a href="{{ asset('image/brocheMaisonbucoliquerondORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/brocheMaisonbucoliquerond.jpg') }}" alt="Broche Maison bucolique. Doublée imitation cuir." >
                <div class="overlay">
                    <div class="text">Broche Maison bucolique. Doublée imitation cuir</div>
                </div>
            </a>
            <a href="{{ asset('image/brocheTomORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/brocheTomrond.jpg') }}" alt="Broche Tom électrise. Doublée imitation cuir." >
                <div class="overlay">
                    <div class="text">Broche Tom électrise. Doublée imitation cuir</div>
                </div>
            </a>
            <a href="{{ asset('image/dessindenfantORIGINALE.jpg') }}" target="_blank">
                <img src="{{ asset('image/dessindenfantrond.jpg') }}" alt="Décoration murale «Dessin d’enfant» Doublée imitation cuir." >
                <div class="overlay">
                    <div class="text">Décoration murale «Dessin d’enfant» Doublée imitation cuir</div>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}
